.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    display: block;
    width: 100%;
    padding: 0 2rem;
    line-height: 3rem;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #f6f6f6;
    border-radius: 0;
    margin-bottom: 2rem !important;
}

input::after{
    outline: auto;
    border-color: #4ea08b;
}

label{
    padding: 10px 0px;
}